@model Formularz.Models.Dane;
@{
    ViewData["Title"] = "Form";
}

<form asp-action="Form" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Imie" ></label>
        <input type="text" asp-for="Imie" />
    </div>
    <div>
        <label asp-for="Nazwisko"></label>
        <input type="text" asp-for="Nazwisko" />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" />
    </div>
    <div>
        <label asp-for="Haslo"></label>
        <input type="password" asp-for="Haslo" />
    </div>
    <div>
        <label asp-for="PotwierdzHaslo"></label>
        <input type="password" asp-for="PotwierdzHaslo" />
    </div>
    <div>
        <label asp-for="NrTelefonu"></label>
        <input type="tel" asp-for="NrTelefonu" />
    </div>
    <div>
        <label asp-for="Wiek"></label>
        <input type="number" asp-for="Wiek" />
    </div>
    <div>
        <label asp-for="Miasto"></label>
        <select asp-for="Miasto" asp-items="Html.GetEnumSelectList<Miasta>()"></select>
    </div>
    <div>
        <input type="submit" />
        <input type="reset" value="Wyczyść" />
    </div>
</form>

