@model Formularz.Models.Dane;
@{
    ViewData["Title"] = "Wynik";
}

<h1>Wynik</h1>
Potwierdzam Twoje dane<br />
Imie: @Model.Imie
<br />
Email: @Model.Email
<br />
Temat: @Model.Temat
<br />
Tresc: @Model.Tresc<br />
